@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');


:root {
    --water-green-tr: hsla(172, 58%, 39%, 0.404);
    --water-green: hsl(172, 58%, 39%);
    --gray: hsl(345, 6%, 13%);
    --gray-tr: hsla(345, 6%, 13%, 0.39);
    --white: hsl(180, 100%, 100%);
    --green-gradient: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    --procrear: hsl(195, 77%, 53%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
}

/* Main */
.main{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, max-content);
    grid-template-areas: 
    "header"
    "slide"
    "services"
    "works"
    "abouts"
    "contact"
    "logos"
    "footer";
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 0;
}

.main__hero {
    grid-area: header;
    background-size: cover;
    
}

.main__nav{
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);

    display: grid;
    position: relative;
    width: 100%;
    background: var(--white);
    padding: 0px 8px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    z-index: 1;
}

.main__nav:target {
    --state-menu: translate(0%);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}

.nav__hamburguer,
.nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
}

.nav__close {
    transform: var(--state-close);
}

.nav__icon {
    width: 30px;
}

.main__logo {
    height: 80%;
    z-index: 1;
}

.main__links{
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    padding-left: 5%;
    gap: 2em;
    
    transform: var(--state-menu);
    transition: .3s transform;
}

.main__list {
    list-style: none;
}

.main__link{
    text-decoration: none;
    color: var(--gray);
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.social__icons {
    margin-top: auto;
}

.social__icons img:hover{
    background-color: var(--water-green-tr);
    transition: all 0.5s ease-out;
    transform: scale(1.1, 1.1);
    border-radius: 6px;
}

.congrats__text {
    color: var(--gray);
    text-align: center;
    font-weight: 300;
}

/* sticky */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* slide */

.slide {
    grid-area: slide;
}

.mySlider img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
    background-size: cover;
    background-position: center;
}

.main__controls{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.main__controls a{
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

.main__controls a:hover{
    background: var(--gray-tr);
    transition: .5s;
}

.bars{
    position: relative;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bar{
    cursor: pointer;
    height:2px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active{
    background-color: var(--water-green);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;    
}


@keyframes fade {
    from {opacity: .4;}
    to{opacity:1;}
}

/* Services */

.services {
    grid-area: services;
    width: 100%;
    background-color: var(--water-green);
    height: auto;
}

.service {
    justify-content: center;
}

.service__img {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.service__img img {
    padding: 10px;
    background: var(--white);
    width: 15%;
    height: 15%;
    border-radius: 50%;
    
}

.service__img img:hover {
    background-color: var(--gray-tr);
    transition: all 0.5s ease-out;
    transform: scale(1.1, 1.1);
}

.service__title {
    text-align: center;
    font-size: 20px;
    color: var(--white);
}

.service__paragraph {
    margin: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


/* Galery works */

.works{
    grid-area: works;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display:grid;
    justify-content: space-around;
    border-radius:3px;
}

.works .work__galery{
    position: relative;
    width: 100%;
    min-height: 250px;
    margin-bottom:5px;
    box-shadow: var(--gray-tr);
    overflow: hidden;
}

.work__galery img{
    width: 100%;
    height:100%;
    transition: .8s ease-in-out;
    object-fit: cover;
}

.work__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--water-green-tr) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.work__title{
    color: #ffff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.work__galery img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.2, 1.2);
}

.work__galery:hover .work__overlay{
    height:100%;
    cursor: pointer;
}

/* About */

.abouts {
    grid-area: abouts;
}

.about__card {
    display: flex;
    justify-content: center;
    background: var(--water-green);
    max-height: 50vh;
}

.about__card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid var(--white);
    object-fit: cover;
    transform: translateY(40%);
    /*box-shadow: 3px 2px 0px 0px var(--gray-tr);*/
}

/*.card__wave {
    position: absolute;
    width: 100%;
    transform: translateY(45%);
}

.card__wave__2 {
    position: absolute;
    width: 100%;
}*/

.about__title {
    padding-top: 25%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: var(--gray);   
}

.about__subtitle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: var(--gray);    
}

.about__paragraph {
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    color: var(--gray);
}

.about__paragraph p {
    margin-top: 10px;
}

.about__paragraph span {
    font-weight: 500;
}

.about__credit {
    background-color: var(--gray);
}

.about__img__credit {
    position: relative;
    height: 100%; 
}

.procrear {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--procrear);
    width: 100%;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.procrear img{
    max-height:90% ;
    max-width: 100%;
}

.about__credit:hover .procrear {
    cursor: pointer;
    transform: rotateX(90deg);
}

.about__img__credit .about__subtitle a {
    text-decoration: none;
    color: white;
}

.about__img__credit .about__subtitle:hover a {
    color: var(--procrear);
    transition: .3s ease;
    text-decoration: underline;
}

/* Contact */

.contact {
    grid-area: contact;
    background: var(--green-gradient);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: var(--white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgb(255, 255, 255, 0.8);
}

.contact__form {
    position: relative;
    margin: 15px 18px;
}

.contact__title {
    text-align: center;
    font-weight: 400;
    color: var(--gray);
}

input, textarea {
    background: none;
    color: #c6c6c6;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--gray-tr);
    resize: none;
}

input:focus, textarea:focus{
    outline: none;
    color: var(--gray);
}

label {
    color: var(--gray-tr);
    position: absolute;
    top: 15px;
    left: 5px;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s ease all;
    pointer-events: none;
}

input:focus~label, input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: relative;
    font-size: 14px;
    color: var(--water-green);
}

.float__bar {
    position: relative;
    display: block;
    width: 100%;
}

input:focus~.float__bar::before,
textarea:focus~.float__bar::before{
    width: 100%;
    color: var(--gray);
}

.float__bar::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--water-green);
    transition: 0.3s ease all;
    left: 0;
}

button {
    background: var(--green-gradient);
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin: 10px auto;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

button:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.1, 1.1);
}

.contact__form small {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
}

.contact__form.fail small {
    visibility: visible;
    color:#e74c3c;
}

/* Logos */

.logos {
    grid-area: logos;
    color: var(--gray-tr);
    min-height: 15vh;
    position: relative;
    overflow: hidden;
}

.logos__title {
    font-size: 20px;
    font-weight: 400;
    margin: 15px;
    text-align: center;
}

.logos a {
    text-decoration: none;
}

.logos__img {
    margin: 2px auto;
    animation: move 40s linear infinite;
    display: flex;
    width: calc(250px * 4);
}

.logos__img .logo {
    width: 250px;
}

.logo img {
    max-height: 100px;
    object-fit: cover;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px*2));
    }
}

.logos__img:hover {
    animation-play-state: paused;
}

/* footer */

.footer {
    grid-area: footer;
    width: 100%;
    min-height: 20vh;
    display: grid;
    place-content: center;
    margin: auto;
    background: var(--gray);
}

.footer__social {
    margin: 12px;
}

.footer__social__icons {
    margin-top: 5px;
}

.footer__social__icons img:hover {
    background-color: var(--water-green-tr);
    border-radius: 6px;
    transition: all 0.5s ease-out;
    transform: scale(1.1, 1.1);
}

.footer__text {
    margin-top: 20px;
    color: var(--white);
    font-size: 12px;
    font-weight: 300;
}

.footer__text a {
    color: var(--white);
    text-decoration: none;
}

.footer__text a:hover {
    color: var(--water-green);
    cursor: pointer;
    transition: .3s ease;
    text-decoration: underline;
}

.footer__social__title {
    color: var(--white);
    font-weight: 300;
}

.footer__location {
    margin: 20px 0px;
}

.footer__location p{
    color: var(--white);
    margin-top: 5px;
    margin-left: 15%;
    font-weight: 300;
    font-size: 14px;
}

.icon__location {
    display: flex;
    float: left;
    margin-right: 2px;
} 

.icon__location img {
    height: 30px;
}

.icon__location:hover {
    transition: 0.5s ease-out;   
    transform: scale(1.1, 1.1);
}


/* Whatsapp */

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
    background-color: #383a3ab6;
}

.my-float{
	margin-top:16px;
}

.whatsapp img {
    padding-top: 5px;
    width: 32px;
    height: 32px;
}

@media (min-width:400px) {

    .about__title {
        padding-top: 20%;
    }
}

@media (min-width:520px) {

    .about__card img {
        width: 250px;
        height: 250px;
    }
}

@media (min-width:768px){

.container{
    width: 85%;
    margin: 0 auto;
    padding: 8px 0;
}

.main__nav{
    --state-hamburguer:scale(0);
    --state-menu: translate(0);

    width: 100%;
    z-index: 1;
}

.main__nav:target {
    --state-close: scale(0);
}

.main__links{
    padding: 0;
    margin: 20px;
    position: relative;
    gap: 1.5em;
    grid-auto-flow: column;

    transform: unset;

    grid-column: -2/-1;
    grid-row: 1/2;
}

.main__list {
    font-size: 22px;
    font-weight: 200;
    transition: 0.2s ease-out;
}

.main__list:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.03, 1.03);
}

.main__link{
    letter-spacing: none;
}

.main__logo {
    margin: 0 auto;
    padding-left: 20%;
}

.social__icons {
    margin-top: 0px;
}

/* Services */

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    float: left;
    width: 20em;
    height: 17em;
    margin: 3px;
    padding: 3px;
}

.service__img img {
    padding: 10px;
    background: var(--white);
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.service__img img:hover {
    background-color: var(--gray-tr);
    transition: all 0.5s ease-out;
    transform: scale(1.1, 1.1);
}

.service__title {
    text-align: center;
    font-size: 20px;
    color: var(--white);
}

.service__paragraph {
    margin: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

/* Galery works */

.works{
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5em;
}

/* about */

.about__card img {
    width: 300px;
    height: 300px;
}

.about__title {
    padding-top: 17%;
}

/* Contact */

.contact {
    width: 100%;
}

form, .contact__title, button {
    width: 80%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer, .footer__location, .footer__social {
    width: 100%;
    height: 15%;
    margin: 4px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__location p {
    margin-left: 6px;
    margin-top: 0px;
}

.footer__social__icons {
    margin-left: 6px;
}

.icon__location img {
    height: 25px;
}

/* Whatsapp */

.float{
	bottom:40px;
	right:40px;
}

.whatsapp img {
    padding-bottom: 10px;
    width: 45px;
    height: 45px;
}

}

@media (min-width: 1024px) {

/* Galery works */

.works{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

/* about */

.about__card img {
    width: 350px;
    height: 350px;
}

}

@media (min-width: 1080px) {

    
/* Galery works */
    
.works{
    display:grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 250px 280px 280px 300px;
}

/* Abouts */

.abouts {
    grid-area: abouts;
    width: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.about__card img {
    width: 280px;
    height: 280px;
}

.about__title {
    padding-top: 22%;
}

/* Contact */

.contact {
    grid-area: abouts;
    width: 49%;
    margin-left: 51%;
    margin-right: 0.5em;
}

form {
    height: 80%;
    width: 60%;
}
    

}

@media (min-width: 1366px) {

/* Galery works */
    
.works{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
}

/* about */

.about__title {
    padding-top: 17%;
}
}

@media (min-width: 1900px) {
.about__title {
    padding-top: 14%;
}
}

 